<div class="thumbnail">
  <div class="caption-full">
    <h1 class="text-center">Creating a Modules</h1>
    <p>In this example we can see module <bold>demoApp</bold>. You might wonder what exactly is the
      empty array for?
    </p>
    <p>
      The answer is this is where <bold>dependency injection</bold> comes in because your module might actually rely
      on other modules to get data.</p>
  </div>
  <img class="img-responsive" style="width:80%;" src="/assets/angularjs-create-a-module.png">
</div>