<div class="thumbnail">
  <img class="img-responsive front_image" src="/assets/angularjs_spa.png" alt="">
  <div class="caption-full">
    <h4 class="pull-right">&nbsp;</h4>
    <h4><a href="#">Single Page Application (SPA)</a>
    </h4>
    <p>First off, a Single Page Application is one in which we have a shell page and we can load multiple
      views into that..</p>
    <p>So a traditional app, as you know you typically blink and load everything again. It’s not very efficient
      on the bandwidth, especially in the mobile world.</p>
    <p>In a SPA we can load the initial content upfront and then the different views or the little kind of mini-
      web pages can be loaded on the fly and embedded into the shell.</p>
    <p>
      AngularJS, as we’re going to see, is a very good SPA framework, but it’s not just for that. You don’t
      have to load these dynamic views with it. In fact if you wanted you could just use it for some of the
      cool separation of code that I’ll show you and data binding, but I will focus on SPAs here.
    </p>
  </div>

  <img class="img-responsive front_image" src="/assets/angularjs_spa_framework.png" alt="">
  <div class="caption-full">
    <p>For DOM manipulation jQLite is built-in which is kind of like the Mini-Me of jQuery. If you want to
      use more advanced stuff you can even use jQuery and they play really nice together: Angular and
      jQuery.</p>
  </div>
</div>