<div class="container">
  <hr>
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © FuturisticApp 2014 - by <a href="#">Rahul Patil</a>
        </p>
      </div>
    </div>
  </footer>
</div>