<div class="col-md-3">
  <p class="lead">Example List</p>
  <div class="list-group">
    <a id="spa" href="/SPA" class="list-group-item">SPA</a>
    <a id="directives" href="/Directives" class="list-group-item">Directives</a>
    <a id="filters" href="/Filters" class="list-group-item">Filters</a>
    <a id="view_model" href="/ViewModel" class="list-group-item">ViewModel (Views + Controller)</a>
    <a id="modules_routes_and_factories" href="/ModulesRoutesAndFactories" class="list-group-item">Modules, Routes and Factories</a>
    <a id="creating_modules" href="/CreatingModules" class="list-group-item">Creating a Modules</a>
    <a id="roles_of_routes" href="/RolesOfRoutes" class="list-group-item">Roles Of Routes</a>
    
    
    
    
    
    <a id="data_bindings" href="/DataBinding" class="list-group-item">Data Bindings</a>
  </div>
</div>


<script type="text/javascript">

  $(function() {
    set_page_navigation_active();
  });

  function set_page_navigation_active() {
    switch ('<%=controller.action_name%>') {
      case 'spa':
        $('#spa').addClass("active").attr("href", "#");
        break;
      case 'directives':
        $('#directives').addClass("active").attr("href", "#");
        break;
      case 'filters':
        $('#filters').addClass("active").attr("href", "#");
        break;
      case 'data_bindings':
        $('#data_bindings').addClass("active").attr("href", "#");
        break;
      case 'view_model':
        $('#view_model').addClass("active").attr("href", "#");                        break;
      case 'modules_routes_and_factories':
        $('#modules_routes_and_factories').addClass("active").attr("href", "#");      break;
      case 'creating_modules':
        $('#creating_modules').addClass("active").attr("href", "#");                  break;
      case 'creating_modules':
        $('#creating_modules').addClass("active").attr("href", "#");                  break;
      case 'roles_of_routes':
        $('#roles_of_routes').addClass("active").attr("href", "#");                   break;
        
    }
    
    //$('#'+action_name).addClass("active");
    //$("#"+action_name).attr("href", "#");
  }

</script>